{%extends "finance/base.html"%}
{% load crispy_forms_tags %}
{%block body%}

<div class="container py-5">
    {%if type == "expense" %}
    <h1>Add Expenses</h1>
    <form action="{%url 'addexpense' %}" method="post">
        {%csrf_token%}
        {{form|crispy}}

        <input type="submit" value="Submit">
        {%else%}
        <h1>Add Income</h1>
        <form action="{%url 'addincome' %}" method="post">
            {%csrf_token%}
            {{form|crispy}}

            <input type="submit" value="Submit">
        </form>
        {%endif%}
</div>
{%endblock%}